[Unit]
Description=Cadvisor is a running daemon that collects, aggregates, processes, and exports information about running containers
After=network.target
Wants=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/opt/cadvisor/cadvisor

[Install]
WantedBy=multi-user.target
