[Unit]
Description=Node Exporter
After=network.target
 
[Service]
User=root
Group=root
Type=simple
ExecStart=/opt/node_exporter/node_exporter
 
Restart=always
RestartSec=1
StartLimitInterval=0
 
[Install]
WantedBy=multi-user.target
